button.buy-tickets a {
  color: #fff;
  background: var(--theme-color);
  padding: 7px 22px;
  border-radius: 50px;
  border: 2px solid var(--theme-color);
  transition: all ease-in-out 0.3s;
  font-weight: 500;
  margin-left: 8px;
  margin-top: 2px;
  line-height: 1;
  font-size: 13px;
}

button.buy-tickets a:hover {
  background: none;
}

button.buy-tickets:hover a:before,
button.buy-tickets.menu-active a:before {
  visibility: hidden;
}

/*--------------------------------------------------------------
# Committees Section
--------------------------------------------------------------*/

#committees img {
  width: 100%;
  height: auto;
}

#committees .card-title {
  text-align: center;
  font-weight: bolder;
}

/*--------------------------------------------------------------
# Registration Section
--------------------------------------------------------------*/

#registration {
  background: var(--theme-secondary);
  color: white;
}

#registration .form-control {
  background: transparent;
  color: white;
  border: solid 1px white;
}
